<md-dialog aria-label="Add book">
    <form ng-cloak class="add_frm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Добавить магазин</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <span>Х</span>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Введите адрес магазина</label>
                    <input ng-model="Address">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Введите первый телефон</label>
                    <input ng-model="Phone1">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Введите второй телефон</label>
                    <input ng-model="Phone2">
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                Отмена
            </md-button>
            <md-button ng-click="addShopClick()">
                Добавить магазин
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>