<md-dialog aria-label="Add book">
    <form ng-cloak class="add_frm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Добавить книгу</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <span>Х</span>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Категория</label>
                    <md-select ng-model="Section">
                        <md-option><em>None</em></md-option>
                        <md-option ng-repeat="section in sections" ng-value="section">
                            {{section}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Уровень</label>
                    <md-select ng-model="Level">
                        <md-option><em>None</em></md-option>
                        <md-option ng-repeat="level in levels" ng-value="level">
                            {{level}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Введите Год публикации</label>
                    <input ng-model="YearofIssue">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Введите Имя Автора</label>
                    <input ng-model="AuthorName">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Введите Название</label>
                    <input ng-model="Title">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Введите Описание</label>
                    <input ng-model="Description">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Введите Количество Экземпляров</label>
                    <input ng-model="NumberofModels">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Введите Цену</label>
                    <input ng-model="Price">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <upload-img name="Выберите главную картинку" ng-model="mainImage"></upload-img>
                </md-input-container>
                <div class="div_preview">
                    <img class="image_preview" ng-src="{{mainImage.src}}" ng-show="mainImage.src" alt="" />
                </div>
                <md-input-container class="md-block" flex-gt-sm>
                    <upload-img name="Выберите дополнительные картинки" ng-model="additionalImages"></upload-img>
                </md-input-container>
                <div class="div_preview_multi">
                    <div class="div_preview" ng-repeat="src in additionalImages.srcList">
                        <img class="image_preview" ng-src="{{src}}" ng-show="src" alt="" />
                    </div>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                Отмена
            </md-button>
            <md-button ng-click="addBook()">
                Добавить книгу
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>