<div class="sections_wrapper">
    <div class="sections_filter_container">
        <div class="sections_filter">
            <span class="sort_title">Sort by: </span>
            <span class="sort_btn" ng-click="sortType = 'Year'; sortReverse = !sortReverse">
                Year of issue
                <span ng-show="sortType == 'Year' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'Year' && sortReverse" class="fa fa-caret-up"></span>
                ;
            </span>
            <span class="sort_btn" ng-click="sortType = 'Price'; sortReverse = !sortReverse">
                Price
                <span ng-show="sortType == 'Price' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'Price' && sortReverse" class="fa fa-caret-up"></span>;
            </span>
            <span class="sort_btn" ng-click="sortType = 'AuthorName'; sortReverse = !sortReverse">
                Author
                <span ng-show="sortType == 'AuthorName' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'AuthorName' && sortReverse" class="fa fa-caret-up"></span>
                ;
            </span>
        </div>
    </div>
    <div class="books_container">
        <div class="book_item" ng-repeat="book in filteredBooks | orderBy:sortType:sortReverse track by $index" ng-mouseenter="showInfoBtn(book)"
             ng-mouseleave="hideInfoBtn(book)">
            <img class="book_img" ng-src="./SPA/image/{{book.MainImage}}" alt="">
            <span class="book_price">{{book.Price}}$</span>
            <span class="book_numbers">{{book.ModelsCount===0 ? 'Not in stock':''}}</span>

            <div class="book_desc">
                <span class="book_desc_item Section">Title: {{book.Title}}</span>
                <span class="book_desc_item ">{{book.Section}}</span>
                <span class="book_desc_item">Level: {{book.Level}}</span>
                <span class="book_desc_item">Author: {{book.AuthorName}}</span>
                <span class="book_desc_item">Year of issue: {{book.Year}}</span>
            </div>
            <div class="view_book_info_container" class="active" ng-class="{active: book.isShowInfoBtn}">
                <a ui-sref="individual({ BookId: book.Id, section: book.Section })" class="view_book_info">View book info</a>
            </div>
        </div>

    </div>
    <pagination ng-model="currentPage" total-items="books.length" max-size="maxSize" boundary-links="true">
    </pagination>
</div>