<div class="admin_page">
    <h2 class="admin_page_title">Admin Page</h2>
    <div class="admin_data_container">
        <div class="admin_order">
            <md-toolbar class="md-theme-light">
                <h2 class="md-toolbar-tools">
                    <span>Orders</span>
                </h2>
            </md-toolbar>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Type Order Surname</label>
                <input ng-model="orderFind">
            </md-input-container>
            <md-content>
                <md-list>
                    <md-list-item class="md-3-line" ng-repeat="order in adminData.orders |orderBy:'Status' | filter:{ Surname: orderFind }">
                        <div class="md-list-item-text">
                            <p class="admin_item">MotoId: {{order.motoId}}</p>
                            <p class="admin_item">Name: {{order.Name}}</p>
                            <p class="admin_item">Surname: {{order.Surname}}</p>
                            <p class="admin_item">Status: <strong>{{order.Status ? 'Done' : 'Pending'}}</strong> </p>
                            <p class="admin_item">OrderId: {{order.orderId}}</p>
                            <p class="admin_item">
                                {{order.homeAdress ? 'Home Address: ' + order.homeAdress : 'Shop Address: ' + order.shopAdress + '; Phones: ' + order.Phone1 + ', ' + order.Phone2}}
                            </p>
                            <p class="admin_item">Order date: {{order.OrderDate | dateFilter}}</p>
                        </div>
                        <md-button class="md-secondary" ng-click="editStatus(order.orderId)">Change Status</md-button>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>
        <div class="admin_moto">
            <md-toolbar class="md-theme-light">
                <h2 class="md-toolbar-tools">
                    <span>Motos</span>
                </h2>
            </md-toolbar>
            <md-button class="md-secondary" ng-click="addMoto($event)">Add moto</md-button>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Type Moto ID</label>
                <input ng-model="motoFind">
            </md-input-container>
            <md-content>
                <md-list>
                    <md-list-item class="md-3-line" ng-repeat="moto in adminData.motos | filter:{ Id: motoFind }">
                        <div class="md-list-item-text">
                            <p class="admin_item">MotoId: {{moto.Id}}</p>
                            <p class="admin_item">Description: {{moto.Description}}</p>
                            <p class="admin_item">Engine capacity: {{moto.EngineCapacity}}</p>
                            <p class="admin_item">Abs: {{moto.Abs}}</p>
                            <p class="admin_item">CruizeControl: {{moto.CruizeControl}}</p>
                            <p class="admin_item">ElectricStarter: {{moto.ElectricStarter}}</p>
                            <p class="admin_item">Make: {{moto.Make}}</p>
                            <p class="admin_item">Number of cilindrs: {{moto.Cylinders}}</p>
                            <p class="admin_item">Number of models: <strong>{{moto.ModelsCount}}</strong></p>
                            <p class="admin_item">Price: {{moto.Price}}</p>
                            <p class="admin_item">Type: {{moto.Type}}</p>
                            <p class="admin_item">Year of issue: {{moto.Year}}</p>
                        </div>
                        <md-button class="md-secondary" ng-click="removeMoto(moto.Id)">Remove Moto</md-button>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>
    </div>
</div>
