<div class="individual_container">
    <span ng-click="openModal()" class="make_order_icon"></span>
    <div class="individual_main_info_container">
        <img class="individual_main_photo" ng-src="./SPA/image/{{moto.main_photo}}.jpg" alt="">
        <div class="individual_main_info">
            <div class="individual_info">
                <span class="individual_info_item">{{moto.make}}</span>
                <span class="individual_info_item">Type: {{moto.type}}</span>
                <span class="individual_info_item">Price: {{moto.price}}$</span>
                <span class="individual_info_item">Engine capacity: {{moto.engine_capacity}} cc<sup>3</sup></span>
                <span class="individual_info_item">Number of cilindrs: {{moto.number_of_cilindrs}}</span>
                <span class="individual_info_item">Year of issue: {{moto.year_of_issue}}</span>
            </div>
            <div class="individual_add_info">
                <span ng-class="{active: moto.isABS }" class="individual_add_info_item">ABS</span>
                <span ng-class="{active: moto.isCruizeControl }" class="individual_add_info_item">Cruize Control</span>
                <span ng-class="{active: moto.isElectrostarter }" class="individual_add_info_item">Electrostarter</span>
            </div>
        </div>
    </div>
    <div class="individual_photos">
        <div class="container slider">
            <img ng-repeat="photo in moto.photos track by $index" class="slide" ng-show="isActive($index)" ng-src="./SPA/image/{{photo}}.jpg"
                alt="">
            <a class="arrow prev" href="#" ng-click="showPrev(moto.photos)"></a>
            <a class="arrow next" href="#" ng-click="showNext(moto.photos)"></a>
            <ul class="nav">
                <li ng-repeat="photo in moto.photos" ng-class="{'active':isActive($index)}">
                    <img ng-src="./SPA/image/{{photo}}.jpg" ng-click="showPhoto($index);" />
                </li>
            </ul>
        </div>
    </div>
    <div class="individual_desc">
        <h2 class="individual_desc_title">Additional description:</h2>
        <span class="individual_desc_content">{{moto.description}}</span>
    </div>
</div>

<div ng-show="isModalOpen" class="overlay">
    <div class="modal_window">
            <div class="make_order_header">
                <span class="make_order_title">Make order</span>
                <span ng-click="isModalOpen = false" class="close_modal"></span>
            </div>
            <section class="make_order_body">
                <span class="modal_item">Name: {{orderInfo.name + " " + orderInfo.surname}}</span>
                <span class="modal_item">E-mail: {{orderInfo.email}}</span>
                <span class="modal_item">Phone: {{orderInfo.phone}}</span>
                <span class="modal_item">Moto make: {{moto.make}}</span>
                <span class="modal_item">Moto type: {{moto.type}}</span>
                <span class="modal_item">Moto price: {{moto.price}}$</span>
                <div class="adress_container">
                    <div class="adress_item">
                        <span class="adress_item_title">Delivery: </span>
                        <input type="checkbox" class="styled-checkbox" id="styled-checkbox-1" ng-model="isPickup" ng-click="isDelivery = false"/>
                        <label for="styled-checkbox-1"></label>
                        <input class="order_input" type="text" placeholder="Enter home adress" ng-show="isPickup" ng-model="homeAdress"/>
                    </div>
                    <div class="adress_item">
                        <span class="adress_item_title">Pickup: </span>
                        <input type="checkbox" class="styled-checkbox" id="styled-checkbox-2" ng-click="isPickup = false" ng-model="isDelivery" />
                        <label for="styled-checkbox-2"></label>
                        <select name="repeatSelect" id="repeatSelect" ng-show="isDelivery" ng-model="data.singleSelect">
                            <option ng-repeat="option in orderInfo.shops" value="{{option.Id}}">{{option.adress}}</option>
                        </select>
                    </div>
                </div>
                <p>{{error}}</p>
                <button class="make_order_btn" ng-click="makeOrder(isPickup, isDelivery, data.singleSelect, homeAdress)">Make Order</button>
            </section>
    </div>
</div>