<head>
    <title>{{book.Section}}</title>
</head>
<div class="individual_container">
    <span ng-click="openModal()" class="make_order_icon"></span>
    <div class="individual_main_info_container">
        <img class="individual_main_photo" ng-src="./SPA/image/{{book.MainImage}}" alt="">
        <div class="individual_main_info">
            <div class="individual_info">
                <span class="individual_info_item">{{book.Title}}</span>
                <span class="individual_info_item">Section: {{book.Section}}</span>
                <span class="individual_info_item">Level: {{book.Level}}</span>
                <span class="individual_info_item">Price: {{book.Price}}$</span>
                <span class="individual_info_item">Author: {{book.AuthorName}} cc<sup>3</sup></span>
                <span class="individual_info_item">Year of issue: {{book.Year}}</span>
            </div>
        </div>
    </div>
    <div class="individual_photos">
        <div class="container slider">
            <img ng-repeat="photo in book.AdditionalImages track by $index" class="slide" ng-show="isActive($index)" ng-src="./SPA/image/{{photo}}"
                alt="">
            <a class="arrow prev" href="#" ng-click="showPrev(book.AdditionalImages)"></a>
            <a class="arrow next" href="#" ng-click="showNext(book.AdditionalImages)"></a>
            <ul class="nav">
                <li ng-repeat="photo in book.AdditionalImages" ng-class="{'active':isActive($index)}">
                    <img ng-src="./SPA/image/{{photo}}" ng-click="showPhoto($index);" />
                </li>
            </ul>
        </div>
    </div>
    <div class="individual_desc">
        <h2 class="individual_desc_title">Additional Description:</h2>
        <span class="individual_desc_content">{{book.Description}}</span>
    </div>
</div>

<div ng-show="isModalOpen" class="overlay">
    <div class="modal_window">
            <div class="make_order_header">
                <span class="make_order_title">Make order</span>
                <span ng-click="isModalOpen = false" class="close_modal"></span>
            </div>
            <section class="make_order_body">
                <span class="modal_item">Name: {{orderInfo.User.Name + " " + orderInfo.User.Surname}}</span>
                <span class="modal_item">E-mail: {{orderInfo.User.Email}}</span>
                <span class="modal_item">Phone: {{orderInfo.User.Phone}}</span>
                <span class="modal_item">Book Section: {{book.Section}}</span>
                <span class="modal_item">Book Level: {{book.Level}}</span>
                <span class="modal_item">Book Price: {{book.Price}}$</span>
                <div class="adress_container">
                    <div class="adress_item">
                        <span class="adress_item_title">Delivery: </span>
                        <input Type="checkbox" class="styled-checkbox" id="styled-checkbox-1" ng-model="isPickup" ng-click="isDelivery = false"/>
                        <label for="styled-checkbox-1"></label>
                        <input class="order_input" Type="text" placeholder="Enter home Address" ng-show="isPickup" ng-model="homeAdress"/>
                    </div>
                    <div class="adress_item">
                        <span class="adress_item_title">Pickup: </span>
                        <input Type="checkbox" class="styled-checkbox" id="styled-checkbox-2" ng-click="isPickup = false" ng-model="isDelivery" />
                        <label for="styled-checkbox-2"></label>
                        <select class="order_input" Name="repeatSelect" id="repeatSelect" ng-show="isDelivery" ng-model="data.singleSelect">
                            <option ng-repeat="option in orderInfo.ShopsInformation" value="{{option.Id}}">{{option.Address}}</option>
                        </select>
                    </div>
                </div>
                <p>{{error}}</p>
                <button class="make_order_btn frm_btn" ng-click="makeOrder(isPickup, isDelivery, data.singleSelect, homeAdress)">Make Order</button>
            </section>
    </div>
</div>