<div class="categories_wrapper">
    <div class="categories_filter_container">
        <div class="categories_filter">
            <span class="sort_title">Sort by: </span>
            <span class="sort_btn" ng-click="sortType = 'Year'; sortReverse = !sortReverse">
                Year of issue
                <span ng-show="sortType == 'Year' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'Year' && sortReverse" class="fa fa-caret-up"></span>
                ;
            </span>
            <span class="sort_btn" ng-click="sortType = 'Price'; sortReverse = !sortReverse">
                Price
                <span ng-show="sortType == 'Price' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'Price' && sortReverse" class="fa fa-caret-up"></span>;
            </span>
            <span class="sort_btn" ng-click="sortType = 'EngineCapacity'; sortReverse = !sortReverse">
                Engine capacity
                <span ng-show="sortType == 'EngineCapacity' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'EngineCapacity' && sortReverse" class="fa fa-caret-up"></span>
                ;
            </span>
        </div>
    </div>
    <div class="motos_container">
        <div class="moto_item" ng-repeat="moto in filteredMotos | orderBy:sortType:sortReverse track by $index" ng-mouseenter="showInfoBtn(moto)"
             ng-mouseleave="hideInfoBtn(moto)">
            <img class="moto_img" ng-src="./SPA/image/{{moto.MainImage}}" alt="">
            <span class="moto_price">{{moto.Price}}$</span>
            <span class="moto_numbers">{{moto.ModelsCount===0 ? 'Not in stock':''}}</span>

            <div class="moto_desc">
                <span class="moto_desc_item Make">{{moto.Make}}</span>
                <span class="moto_desc_item">Type: {{moto.Type}}</span>
                <span class="moto_desc_item">Engine capacity: {{moto.EngineCapacity}}</span>
                <span class="moto_desc_item">Number of cilindrs: {{moto.Cylinders}}</span>
                <span class="moto_desc_item">Year of issue: {{moto.Year}}</span>
            </div>
            <div class="view_moto_info_container" class="active" ng-class="{active: moto.isShowInfoBtn}">
                <a ui-sref="individual({ motoId: moto.Id, category: moto.Make })" class="view_moto_info">View moto info</a>
            </div>
        </div>

    </div>
    <pagination ng-model="currentPage" total-items="motos.length" max-size="maxSize" boundary-links="true">
    </pagination>
</div>