<!DOCTYPE html>
<html ng-app="motoStore">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moto Store</title>
    <base href="/">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/angular-toastr@2/dist/angular-toastr.css">
    <link href="~/Content/styles.css" rel="stylesheet" type="text/css" />

</head>
<body ng-controller="motoStoreController">

    <div ng-class="{active: isLogInShow}" class="pop_up_sign">
        <div class="pop_up-container">
            <div class="container" ng-class="{ 'log-in': isLogIn }">
                <div class="box">
                    <div class="container-forms">
                        <div class="container-info">
                            <div class="info-item">
                                <div class="table">
                                    <div class="table-cell">
                                        <p>Have an account?</p>
                                        <div class="btn" ng-click="toggleAuthForm()">Log in</div>
                                    </div>
                                </div>
                            </div>
                            <div class="info-item">
                                <div class="table">
                                    <div class="table-cell">
                                        <p>Don't have an account?</p>
                                        <div class="btn" ng-click="toggleAuthForm()">Sign up</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-form">
                            <div class="form-item log-in">
                                <div class="table">
                                    <div class="table-cell">
                                        <input type="text" name="Username" ng-model="loginUsername" placeholder="Username">
                                        <input type="password" name="Password" ng-model="loginPassword" placeholder="Password">
                                        <div class="btn" id="submit_log" ng-click="logInUser()">Log in</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-item sign-up">
                                <div class="table">
                                    <div class="table-cell">
                                        <input type="text" ng-model="registerUsername" placeholder="Username">
                                        <input type="password" ng-model="registerPassword" placeholder="Password">
                                      
                                        <input type="text" ng-model="registerName" placeholder="Name">
                                        <input type="text" ng-model="registerSurname" placeholder="Surname">
                                        <input type="email" ng-model="registerEmail" placeholder="E-mail">
                                        <input type="text" ng-model="registerPhone" placeholder="Phone">
                                        <div class="btn" id="submit" ng-click="registerUser()">Sign Up</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <i class="fa fa-times fa-lg" id="close_popup_in" ng-click="toggleLogIn()" aria-hidden="true"></i>
        </div>
    </div>
    <header>
        <button class="sign_out" ng-click="toggleLeft()">Filter</button>
        <button class="sign_out" ng-click="logOut()" ng-show="isAuthorizated">Sign out</button>
        <button class="sign_in" ng-show="!isAdmin" ng-click="toggleLogIn()">{{isAuthorizated ? 'Profile' : 'Sign in'}}</button>
        <button class="sign_in" ng-show="isAdmin" ng-click="goToAdmin()">Admin</button>
    </header>
    <div class="wrapper">
        <nav class="list_category">
            <ul>
                <li>
                    <button ng-click="selectCategory('All')" class="back_main"><i class="fa fa-chevron-left" aria-hidden="true"></i>Back to main</button>
                    <span>/</span>
                </li>
                <li ng-repeat="item in motoCategories track by $index">
                    <button ng-click="selectCategory(item.Make)" class="category">{{item.Make}}</button>
                    <span>/</span>
                </li>
            </ul>
        </nav>
    </div>

    <div class="page_wrapper">
        <ui-view></ui-view>
        <div class="push"></div>
    </div>

    <footer class="page_footer">
        <span class="footer_coorp_title">
            &copy; Snilk MotoStore
        </span>
        <div class="footer_store_conatiner">
            <p ng-repeat="shop in shopsInfo">
                {{shop.Address}}; {{shop.Phone1}}, {{shop.Phone2}}
            </p>
        </div>
    </footer>

    <md-sidenav class="md-sidenav-left" md-component-id="left"
                md-disable-backdrop md-whiteframe="4">

        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Filter Motos</h1>
        </md-toolbar>

        <md-content layout-margin>
            <div>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Make</label>
                    <md-select ng-model="Make">
                        <md-option><em>None</em></md-option>
                        <md-option ng-repeat="Make in makes" ng-value="Make.Make">
                            {{Make.Make}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Type</label>
                    <md-select ng-model="Type">
                        <md-option><em>None</em></md-option>
                        <md-option ng-repeat="Type in types" ng-value="Type">
                            {{Type}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <div class="group_input">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Low Year of Issue</label>
                        <input ng-model="YearofIssue.Low">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>High Year of Issue</label>
                        <input ng-model="YearofIssue.High">
                    </md-input-container>
                </div>
                <div class="group_input">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Low Engine Capacity</label>
                        <input ng-model="EngineCapacity.Low">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>High Engine Capacity</label>
                        <input ng-model="EngineCapacity.High">
                    </md-input-container>
                </div>
                <div class="group_input">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Low Number of Cilindrs</label>
                        <input ng-model="NumberofCilindrs.Low">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>High Number of Cilindrs</label>
                        <input ng-model="NumberofCilindrs.High">
                    </md-input-container>
                </div>
                <md-switch ng-model="Abs" aria-label="Switch 1">
                    Is ABS
                </md-switch>
                <md-switch ng-model="ElectricStarter" aria-label="Switch 2">
                    Is Electrostarter
                </md-switch>
                <md-switch ng-model="CruizeControl" aria-label="Switch 3">
                    Is Cruize Control
                </md-switch>
                <div class="group_input">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Low Price</label>
                        <input ng-model="Price.Low">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>High Price</label>
                        <input ng-model="Price.High">
                    </md-input-container>
                </div>
            </div>
            <md-button ng-click="toggleLeft()">
                Close
            </md-button>
            <md-button ng-click="filter()">
                Filter
            </md-button>
            <md-button ng-click="clearFiler()">
                Clear Filters
            </md-button>
        </md-content>
    </md-sidenav>

    @RenderBody()
    <!-- libraries -->
    <script src="~/SPA/lib/jquery-1.10.2.min.js"></script>
    <script src="~/SPA/lib/bootstrap.min.js"></script>
    <script src="~/SPA/lib/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
    <script src="~/SPA/lib/stateEvents.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/angular-toastr@2/dist/angular-toastr.tpls.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>


    <!-- main scripts -->
    <script src="~/SPA/main.js"></script>
    <script src="~/SPA/common/common.js"></script>
    <script src="~/SPA/common/service/categoriesService.js"></script>
    <script src="~/SPA/common/service/registerService.js"></script>
    <script src="~/SPA/common/service/adressShops.js"></script>
    <script src="~/SPA/common/filter/dateFilter.js"></script>
    <script src="~/SPA/common/directive/range.js"></script>
    <script src="~/SPA/categories/categories.js"></script>
    <script src="~/SPA/categories/controller/categoriesController.js"></script>
    <script src="~/SPA/categories/service/motoByCategoriesService.js"></script>
    <script src="~/SPA/individual/individual.js"></script>
    <script src="~/SPA/individual/controller/individualController.js"></script>
    <script src="~/SPA/individual/service/motoService.js"></script>
    <script src="~/SPA/individual/service/orderService.js"></script>
    <script src="~/SPA/profile/profile.js"></script>
    <script src="~/SPA/profile/controller/profileController.js"></script>
    <script src="~/SPA/profile/service/userService.js"></script>
    <script src="~/SPA/admin/admin.js"></script>
    <script src="~/SPA/admin/controller/adminController.js"></script>
    <script src="~/SPA/admin/service/adminService.js"></script>
    <script src="~/SPA/admin/directives/uploadImage.js"></script>


</body>
</html>
