<!DOCTYPE html>
<html ng-app="motoStore">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <base href="/">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/angular-toastr@2/dist/angular-toastr.css">
    <link href="~/Content/styles.css" rel="stylesheet" type="text/css" />

</head>
<body ng-controller="motoStoreController">

    <div ng-class="{active: isLogInShow}" class="pop_up_sign">
        <div class="pop_up-container">
            <div class="container" ng-class="{ 'log-in': isLogIn }">
                <div class="box">
                    <div class="container-forms">
                        <div class="container-info">
                            <div class="info-item">
                                <div class="table">
                                    <div class="table-cell">
                                        <p>Have an account?</p>
                                        <div class="btn" ng-click="toggleAuthForm()">Log in</div>
                                    </div>
                                </div>
                            </div>
                            <div class="info-item">
                                <div class="table">
                                    <div class="table-cell">
                                        <p>Don't have an account?</p>
                                        <div class="btn" ng-click="toggleAuthForm()">Sign up</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-form">
                            <div class="form-item log-in">
                                <div class="table">
                                    <div class="table-cell">
                                        <input type="text" name="Username" ng-model="loginUsername" placeholder="Username">
                                        <input type="password" name="Password" ng-model="loginPassword" placeholder="Password">
                                        <div class="btn" id="submit_log" ng-click="logInUser()">Log in</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-item sign-up">
                                <div class="table">
                                    <div class="table-cell">
                                        <input type="text" ng-model="registerUsername" placeholder="Username">
                                        <input type="password" ng-model="registerPassword" placeholder="Password">
                                        <input type="text" ng-model="registerName" placeholder="Name">
                                        <input type="text" ng-model="registerSurname" placeholder="Surname">
                                        <input type="email" ng-model="registerEmail" placeholder="E-mail">
                                        <input type="text" ng-model="registerPhone" placeholder="Phone">
                                        <div class="btn" id="submit" ng-click="registerUser()">Sign Up</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <i class="fa fa-times fa-lg" id="close_popup_in" ng-click="toggleLogIn()" aria-hidden="true"></i>
        </div>
    </div>
    <header>
        <button class="sign_out" ng-click="logOut()" ng-show="isAuthorizated">Sign out</button>
        <button class="sign_in" ng-click="toggleLogIn()">Sign in</button>
    </header>
    <div class="wrapper">
        <nav class="list_category">
            <ul>
                <li>
                    <button ng-click="selectCategory('All')" class="back_main"><i class="fa fa-chevron-left" aria-hidden="true"></i>Back to main</button>
                    <span>/</span>
                </li>
                <li ng-repeat="item in motoCategories track by $index">
                    <button ng-click="selectCategory(item.make)" class="category">{{item.make}}</button>
                    <span>/</span>
                </li>
            </ul>
        </nav>
    </div>

    <div class="page_wrapper">
        <ui-view></ui-view>
        <div class="push"></div>
    </div>

    <footer class="page_footer">
        <span class="footer_coorp_title">
            &copy; Snilk MotoStore
        </span>
        <div class="footer_store_conatiner">

        </div>
    </footer>

    @RenderBody()
    <!-- libraries -->
    <script src="~/SPA/lib/jquery-1.10.2.min.js"></script>
    <script src="~/SPA/lib/bootstrap.min.js"></script>
    <script src="~/SPA/lib/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>
    <script src="~/SPA/lib/stateEvents.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/angular-toastr@2/dist/angular-toastr.tpls.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>


    <!-- main scripts -->
    <script src="~/SPA/main.js"></script>
    <script src="~/SPA/common/common.js"></script>
    <script src="~/SPA/common/service/categoriesService.js"></script>
    <script src="~/SPA/common/service/registerService.js"></script>
    <script src="~/SPA/categories/categories.js"></script>
    <script src="~/SPA/categories/controller/categoriesController.js"></script>
    <script src="~/SPA/categories/service/motoByCategoriesService.js"></script>
    <script src="~/SPA/individual/individual.js"></script>
    <script src="~/SPA/individual/controller/individualController.js"></script>
    <script src="~/SPA/individual/service/motoService.js"></script>



</body>
</html>
